### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [5]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
#purchase_data.csv = "Resources/purchase_data.csv"

In [6]:
# Read Purchasing File and store into Pandas data frame
# import a CSV file and rename csv for ease of use
data = pd.read_csv("purchase_data.csv")

## Player Count

* Display the total number of players

In [43]:
print(data['SN'].nunique())

576

* Cleaner formatting Player Count

In [50]:
SN = {'Total Player':[len(data['SN'].value_counts())]}
SN1 = pd.DataFrame(SN)
SN1

   Total Player
0           576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.

In [68]:
it = (data['Item ID'].nunique())
print(it)

183

In [67]:
#Number of Unique Items
UniqueItems = len(data['Item Name'].value_counts())
#Average Purchase Price
AvPurchPrice = round(data['Price'].mean(),2)
#Total Purchase Value
TotalPurchases = round(data['Price'].sum(),2)
#Purchasing Analysis (Total)
PurchasingAnalysis= {'Unique Items':[UniqueItems],'Average Price':[AvPurchPrice],'Number of Purchases': [len(data)],'Total Purchases':[TotalPurchases]}
PurchasingAnalysis1 =pd.DataFrame(PurchasingAnalysis)
PurchasingAnalysis1 = PurchasingAnalysis1[['Unique Items','Average Price','Number of Purchases','Total Purchases']]
PurchasingAnalysis1

   Unique Items  Average Price  Number of Purchases  Total Purchases
0           179           3.05                  780          2379.77

In [10]:
average_price = (data['Price'].mean())
print(average_price)

3.050987179487176

In [11]:
purchased_number = (data['SN'].count())
print(purchased_number)

780

In [12]:
total_revenue = (data['Price'].sum())
print(total_revenue)

2379.77

* Create a summary data frame to hold the results

# Place all of the data found into a summary DataFrame
summary_table = pd.DataFrame({"Total Unique Authors": author_count,
                              "Earliest Year": [earliest_year],
                              "Latest Year": [latest_year],
                              "Total Reviews": [total_reviews]})

In [13]:
summary_data = pd.DataFrame({"Number of Unique Items": it,"Average Price": average_price, "Number of Purchases": purchased_number, "Total Revenue": [total_revenue]   })
print (summary_data)

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77

** Cleaner formatting Player Count

In [67]:
#Number of Unique Items
UniqueItems = len(data['Item Name'].value_counts())
#Average Purchase Price
AvPurchPrice = round(data['Price'].mean(),2)
#Total Purchase Value
TotalPurchases = round(data['Price'].sum(),2)
#Purchasing Analysis (Total)
PurchasingAnalysis= {'Unique Items':[UniqueItems],'Average Price':[AvPurchPrice],'Number of Purchases': [len(data)],'Total Purchases':[TotalPurchases]}
PurchasingAnalysis1 =pd.DataFrame(PurchasingAnalysis)
PurchasingAnalysis1 = PurchasingAnalysis1[['Unique Items','Average Price','Number of Purchases','Total Purchases']]
PurchasingAnalysis1

   Unique Items  Average Price  Number of Purchases  Total Purchases
0           179           3.05                  780          2379.77

* Optional: give the displayed data cleaner formatting

In [14]:
summary_data["Total Revenue"] = summary_data["Total Revenue"].map("${:.2f}".format)
summary_data["Average Price"] = summary_data["Average Price"].map("${:.2f}".format)
print (summary_data)

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

In [ ]:
summary_data["Total Revenue"] = summary_data["Total Revenue"].map("${:.2f}".format)

summary_data["Average Price"] = summary_data["Average Price"].map("${:.2f}".format)
print (summary_data)

In [70]:
print("--------Gender Demographics-----------")

# Grouping Dataframe by Gender
customer_group= df.groupby("Gender")

# Determining the Total Count of players under each gender group
gender=customer_group["Customer ID"].nunique()
gender= gender.rename(columns={"Gender":"Gender","Customer ID": "Total Count"})

# Determing percentage of players under each gender group
gender_percentage= (customer_group["Customer ID"].nunique()/players_count)*100
gender_percentage= gender_percentage.rename(columns={"Gender":"Gender","Customer ID": "Percentage of Players"})


#s1 = pd.Series([customer_group['Customer ID']], index=["Gender"], name='Total Count')
#s2 = pd.Series([gender_percentage['Customer ID']], index=["Gender"], name='Percentage of Players')
#output_df=pd.concat([s1, s2], axis=1)

gender_df= pd.concat([gender,gender_percentage],axis=1).reset_index()
gender_df= gender_df.rename(columns={"Gender": "Gender", 0: "Total Count", 1: "Percentage of Players"})
gender_df["Percentage of Players"] = gender_df["Percentage of Players"].map("{:.2f}".format)

#output_df.sort_values('Gender', axis=0, ascending=False)

--------Gender Demographics-----------

NameError: name 'df' is not defined

In [64]:
#Make it into a Gender DataFrame
sex1 = {'Percent of Players':[MalePercent,FemalePercent,OtherPercent],'Gender':["Male",'Female','Other'],'Gender Count':[Male2,Female2,Other2]}
sex2 =  pd.DataFrame(gender1)
sex2= sex2.set_index('Gender')
sex2= sex2[['Gender Count','Percent of Players']]
sex2

        Gender Count  Percent of Players
Gender
Male             484               84.03
Female            81               14.06
Other             11                1.91

In [60]:
#Gender Demographics

# Total Count
total_count = len(data["SN"].unique())
print(SN)

{'Total Player': [576]}

In [34]:
#Percentage and Count of Male Players
#Male = data1.loc[data1['Gender'] =='Male',:]
Male1= data.groupby(['Gender']).get_group(('Male'))
Male2= len(Male1['SN'].unique())
MalePercent= round((Male2/total_count)*100,2)
print(MalePercent)

84.03

In [35]:
#Percentage and Count of Female Players
Female1= data.groupby(['Gender']).get_group(('Female'))
Female2= len(Female1['SN'].unique())
FemalePercent= round((Female2/total_count)*100,2)
print (FemalePercent)

14.06

In [36]:
#Percentage and Count of Other / Non-Disclosed Players
Other1= data.groupby(['Gender']).get_group(('Other / Non-Disclosed'))
Other2= len(Other1['SN'].unique())
OtherPercent= round((Other2/total_count)*100,2)
print(OtherPercent)

1.91

In [61]:
#Make it into a Gender DataFrame
sex1 = {'Percent of Players':[MalePercent,FemalePercent,OtherPercent],'Gender':["Male",'Female','Other'],'Gender Count':[Male2,Female2,Other2]}
sex2 =  pd.DataFrame(gender1)
sex2= sex2.set_index('Gender')
sex2= sex2[['Gender Count','Percent of Players']]
sex2

        Gender Count  Percent of Players
Gender
Male             484               84.03
Female            81               14.06
Other             11                1.91

* Display the summary data frame

## Gender Demographics

* Percentage and Count of Male Players

In [39]:
data.Gender.value_counts(normalize=True)

Male                     0.835897
Female                   0.144872
Other / Non-Disclosed    0.019231
Name: Gender, dtype: float64

In [19]:
data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [20]:
data.Gender

0                       Male
1                       Male
2                       Male
3                       Male
4                       Male
5                       Male
6                       Male
7                       Male
8                       Male
9      Other / Non-Disclosed
10                      Male
11                      Male
12                      Male
13                      Male
14                      Male
15                    Female
16                      Male
17                      Male
18                    Female
19                      Male
20                      Male
21                      Male
22     Other / Non-Disclosed
23                      Male
24                      Male
25                      Male
26                      Male
27                      Male
28                      Male
29                      Male
               ...
750                     Male
751                     Male
752                     Male
753                     Male
754                   Female
755                     Male
756                     Male
757                     Male
758                     Male
759                     Male
760                     Male
761                     Male
762                     Male
763                     Male
764                     Male
765                     Male
766                     Male
767                   Female
768                     Male
769                     Male
770                     Male
771                     Male
772                     Male
773                     Male
774                     Male
775                   Female
776                     Male
777                     Male
778                     Male
779                     Male
Name: Gender, Length: 780, dtype: object

#print pd.DataFrame({'Percentage': df.groupby(('ID', 'Feature')).size() / len(df)})

In [21]:
print pd.DataFrame({Percentage':data.groupby(('Gender'))/len(data)})

SyntaxError: invalid syntax (<ipython-input-21-7814a1f7aaac>, line 1)

* Percentage and Count of Female Players

* Percentage and Count of Other / Non-Disclosed


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender

* Create a summary data frame to hold the results

* Optional: give the displayed data cleaner formatting

* Display the summary data frame

## Age Demographics

* Establish bins for ages

* Categorize the existing players using the age bins. Hint: use pd.cut()

* Calculate the numbers and percentages by age group

* Create a summary data frame to hold the results

In [ ]:
* Optional: round the percentage column to two decimal points

In [ ]:
* Display Age Demographics Table

## Purchasing Analysis (Age)

In [ ]:
* Bin the purchase_data data frame by age

In [ ]:
* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below

In [ ]:
* Create a summary data frame

In [ ]:
* Create a summary data frame to hold the results

In [ ]:
* Optional: give the displayed data cleaner formatting

* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below

* Create a summary data frame to hold the results

* Sort the total purchase value column in descending order

* Optional: give the displayed data cleaner formatting

* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns

* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value

* Create a summary data frame to hold the results

* Sort the purchase count column in descending order

* Optional: give the displayed data cleaner formatting

* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order

* Optional: give the displayed data cleaner formatting

* Display a preview of the data frame