### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
#purchase_data.csv = "Resources/purchase_data.csv"

In [2]:
# Read Purchasing File and store into Pandas data frame
# import a CSV file and rename csv for ease of use
data = pd.read_csv("purchase_data.csv")

** Player Count

** Display the total number of players

In [3]:
print(data['SN'].nunique())

576

** Cleaner formatting Player Count

In [4]:
SN = {'Total Player':[len(data['SN'].value_counts())]}
SN1 = pd.DataFrame(SN)
SN1

   Total Player
0           576

** Purchasing Analysis (Total)

** Run basic calculations to obtain number of unique items, average price, etc.

** Number of unique items

In [5]:
it = (data['Item ID'].nunique())
print(it)

183

** Average price

In [6]:
average_price = (data['Price'].mean())
print(average_price)

3.050987179487176

**  Number of Purchases

In [7]:
purchased_number = (data['SN'].count())
print(purchased_number)

780

** Total Revenue

In [8]:
total_revenue = (data['Price'].sum())
print(total_revenue)

2379.77

**  Create a summary data frame to hold the results

**  Place all of the data found into a summary DataFrame

summary_table = pd.DataFrame({"Total Unique Authors": author_count,
                              "Earliest Year": [earliest_year],
                              "Latest Year": [latest_year],
                              "Total Reviews": [total_reviews]})

In [9]:
summary_data = pd.DataFrame({"Number of Unique Items": it,"Average Price": average_price, "Number of Purchases": purchased_number, "Total Revenue": [total_revenue]   })
print (summary_data)

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77

** Cleaner formatting Player Count

In [10]:
#Number of Unique Items
UniqueItems = len(data['Item Name'].value_counts())
#Average Purchase Price
AvPurchPrice = round(data['Price'].mean(),2)
#Total Purchase Value
TotalPurchases = round(data['Price'].sum(),2)
#Purchasing Analysis (Total)
PurchasingAnalysis= {'Unique Items':[UniqueItems],'Average Price':[AvPurchPrice],'Number of Purchases': [len(data)],'Total Purchases':[TotalPurchases]}
PurchasingAnalysis1 =pd.DataFrame(PurchasingAnalysis)
PurchasingAnalysis1 = PurchasingAnalysis1[['Unique Items','Average Price','Number of Purchases','Total Purchases']]
PurchasingAnalysis1

   Unique Items  Average Price  Number of Purchases  Total Purchases
0           179           3.05                  780          2379.77

** Percent of Male Players

In [18]:
#Gender Demographics

# Total Count
total_count = len(data["SN"].unique())

#Percentage and Count of Male Players
#Male = data.loc[data['Gender'] =='Male',:]
Male1= data.groupby(['Gender']).get_group(('Male'))
Male2= len(Male1['SN'].unique())
MalePercent= round((Male2/total_count)*100,2)
print (MalePercent)

84.03

** Percent of Female Players

In [17]:
Female1= data.groupby(['Gender']).get_group(('Female'))
Female2= len(Female1['SN'].unique())
FemalePercent= round((Female2/total_count)*100,2)
print (FemalePercent)

14.06

** Percent of Other / Non-Disclosed Players

In [27]:

Other1= data.groupby(['Gender']).get_group(('Other / Non-Disclosed'))
Other2= len(Other1['SN'].unique())
OtherPercent= round((Other2/total_count)*100,2)
print(OtherPercent)

1.91

In [28]:
sex1 = {'Percent of Players':[MalePercent,FemalePercent,OtherPercent],'Gender':["Male",'Female','Other / Non-Disclosed'],'Gender Count':[Male2,Female2,Other2]}
sex2 =  pd.DataFrame(sex1)
sex2= sex2.set_index('Gender')
sex2= sex2[['Gender Count','Percent of Players']]
sex2

                       Gender Count  Percent of Players
Gender
Male                            484               84.03
Female                           81               14.06
Other / Non-Disclosed            11                1.91

In [29]:

# Other1= data.groupby(['Gender']).get_group(('Other / Non-Disclosed'))
# Other2= len(Other1['SN'].unique())
# OtherPercent= round((Other2/total_count)*100,2)
# print(OtherPercent)
#Make it into a Gender DataFrame
gender1 = {'Percent of Players':[MalePercent,FemalePercent,OtherPercent],'Gender':["Male",'Female','Other / Non-Disclosed'],'Gender Count':[Male2,Female2,Other2]}
gender2 =  pd.DataFrame(gender1)
gender2= gender2.set_index('Gender')
gender2= gender2[['Percent of Players','Gender Count']]
gender2

                       Percent of Players  Gender Count
Gender
Male                                84.03           484
Female                              14.06            81
Other / Non-Disclosed                1.91            11

** Gender Demographics

* Display the summary data frame

In [30]:
sex1 = {'Percent of Players':[MalePercent,FemalePercent,OtherPercent],'Gender':["Male",'Female','Other / Non-Disclosed'],'Gender Count':[Male2,Female2,Other2]}
sex2 =  pd.DataFrame(sex1)
sex2= sex2.set_index('Gender')
sex2= sex2[['Gender Count','Percent of Players']]
sex2

                       Gender Count  Percent of Players
Gender
Male                            484               84.03
Female                           81               14.06
Other / Non-Disclosed            11                1.91


** Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender

In [31]:
#Purchase Count
MalePurchaseCount = len(Male1)
FemalePurchaseCount = len(Female1)
OtherPurchaseCount = len(Other1)

In [32]:
#Average Purchase Price
MaleAvgPrice =round((Male1["Price"].sum())/len(Male1["Price"]),2)
FemaleAvgPrice= round((Female1["Price"].sum())/len(Female1["Price"]),2)
OtherAvgPrice= round((Other1["Price"].sum())/len(Other1["Price"]),2)

In [33]:
#Total Purchase Value
MaleTotalPurchase = round(Male1['Price'].sum(),2)
FemaleTotalPurchase = round(Female1['Price'].sum(),2)
OtherTotalPurchase = round(Other1['Price'].sum(),2)

In [34]:
# Normalised Totals
# male/female/Other
NormMale = round((MaleTotalPurchase/MalePurchaseCount), 2)
NormFemale = round((FemaleTotalPurchase/FemalePurchaseCount), 2)
NormOther = round((OtherTotalPurchase/OtherPurchaseCount), 2)

* Display the summary data frame

* Optional: give the displayed data cleaner formatting

* Create a summary data frame to hold the results

In [35]:
PurchByGender = {"Purchase Count":[MalePurchaseCount,FemalePurchaseCount,OtherPurchaseCount],
                    "Gender":["Male","Female","Other / Non-Disclosed"],
                    "Average Purchase Price":[MaleAvgPrice,FemaleAvgPrice,OtherAvgPrice],
                    "Total Purchase Value":[MaleTotalPurchase,FemaleTotalPurchase,OtherTotalPurchase],
                "Normalized Totals":[NormMale,NormFemale,NormOther]}
PurchByGender1 = pd.DataFrame(PurchByGender)
PurchByGender1 = PurchByGender1.set_index('Gender')
PurchByGender1= PurchByGender1[['Purchase Count','Average Purchase Price','Total Purchase Value','Normalized Totals']]
PurchByGender1

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Gender,,,,
Male,652,3.02,1967.64,3.02
Female,113,3.20,361.94,3.20
Other / Non-Disclosed,15,3.35,50.19,3.35

## Age Demographics

* Establish bins for ages

In [56]:
#Age Demographics
MaxAge = data['Age'].max()
print(MaxAge)

45

In [61]:
#Age Demographics
MinAge = data['Age'].min()
print(MinAge)

7

* Categorize the existing players using the age bins. Hint: use pd.cut()

pandas.cut(x, bins, right=True, labels=None, retbins=False, precision=3, include_lowest=False, duplicates='raise')

In [73]:
#bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
bins = [0,10,14,19,24,29,34,39,46]
Agelabels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
data['Age Summary'] = pd.cut(data['Age'],bins,labels= Agelabels)
print(bins)

[0, 10, 14, 19, 24, 29, 34, 39, 46]

In [74]:
data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price',
       'Age Summary'],
      dtype='object')

In [75]:
#Purchase Count
Bin1 = data.groupby(['Age Summary']).get_group(('<10'))
pc1 = len(Bin1['SN'].unique())
EachBin1 = (pc1/total_count)*100

Bin2 = data.groupby(['Age Summary']).get_group(('10-14'))
pc2 = len(Bin2['SN'].unique())
EachBin2 = (pc2/total_count)*100

Bin3 = data.groupby(['Age Summary']).get_group(('15-19'))
pc3 = len(Bin3['SN'].unique())
EachBin3 = (pc3/total_count)*100

Bin4 = data.groupby(['Age Summary']).get_group(('20-24'))
pc4 = len(Bin4['SN'].unique())
EachBin4 = (pc4/total_count)*100

Bin5 = data.groupby(['Age Summary']).get_group(('25-29'))
pc5 = len(Bin5['SN'].unique())
EachBin5 = (pc5/total_count)*100

Bin6 = data.groupby(['Age Summary']).get_group(('30-34'))
pc6 = len(Bin6['SN'].unique())
EachBin6 = (pc6/total_count)*100

Bin7 = data.groupby(['Age Summary']).get_group(('35-39'))
pc7 = len(Bin7['SN'].unique())
EachBin7 = (pc7/total_count)*100

Bin8 = data.groupby(['Age Summary']).get_group(('40+'))
pc8 = len(Bin8['SN'].unique())
EachBin8 = (pc8/total_count)*100

* Calculate the numbers and percentages by age group

In [76]:
PlayerBinsCount=[pc1,pc2,pc3,pc4,pc5,pc6,pc7,pc8]
PercentBins= [PerBin1,PerBin2,PerBin3,PerBin4,PerBin5,PerBin6,PerBin7,PerBin8]
PercentBins= [round(x,2) for x in PercentBins]
print(PlayerBinsCount)

[24, 15, 107, 258, 77, 52, 31, 12]

* Create a summary data frame to hold the results

In [77]:
* Optional: round the percentage column to two decimal points

SyntaxError: invalid syntax (<ipython-input-77-d87135afe7e2>, line 1)

In [78]:
* Display Age Demographics Table

SyntaxError: invalid syntax (<ipython-input-78-24e6af4f47b9>, line 1)

In [79]:
Dem = {"Age Summary":Agelabels,"Total Player Count":PlayerBinsCount,"Percentage Of Players":PercentBins}
Dem1 = pd.DataFrame(Dem)
Dem1 = Dem1.set_index('Age Summary')
Dem1

             Total Player Count  Percentage Of Players
Age Summary
<10                          24                   4.17
10-14                        15                   2.60
15-19                       107                  18.58
20-24                       258                  44.79
25-29                        77                  13.37
30-34                        52                   9.03
35-39                        31                   5.38
40+                          12                   2.08

## Purchasing Analysis (Age)

In [ ]:
* Bin the purchase_data data frame by age

In [ ]:
* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below

In [ ]:
* Create a summary data frame

In [ ]:
* Create a summary data frame to hold the results

In [ ]:
* Optional: give the displayed data cleaner formatting

* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below

* Create a summary data frame to hold the results

* Sort the total purchase value column in descending order

* Optional: give the displayed data cleaner formatting

* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns

* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value

* Create a summary data frame to hold the results

* Sort the purchase count column in descending order

* Optional: give the displayed data cleaner formatting

* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order

* Optional: give the displayed data cleaner formatting

* Display a preview of the data frame

In [53]:
#use prefinal dataframe from prior to step to find most profitable items

profit_items_final = prefinal_df.sort_values('Total Purchase Value', ascending=False).head()
profit_items_final.style.format({"Item Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})

NameError: name 'prefinal_df' is not defined